.hide {
  display: none !important;
}

.alertMsg {
  display: table;
  height: 90vh;
  width: 100%;
}

.alertMsg > h3 {
  text-align: center;
  white-space: normal;
  padding: 0px 30px;
  vertical-align: middle;
  display: table-cell;
}

.selected {
	color: #fff !important;
  background-color: #116cd6 !important;
}

.icon.icon-play.playing {
  color: #007CFF;
  position: absolute;
  margin-right: -4px;
  padding-top: 4px;
  right: 0;
  font-size: 13px;
}

.toolbar {
  -webkit-app-region: drag;
  max-height: 60px;
  box-shadow: none;
  background: #DEDEDE;
}

.toolbar.small {
  height: 37px;
}

.toolbar-header .title { 
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  max-width: 50%;
}

.nav-group {
  font-size: 13px;
}

.nav-group-title {
  font-weight: bold;
}

.nav-group-item .icon {
  font-size: 17px;
}

.icon-soundcloud {
  color: #eb4017 !important;
} 

.icon-spotify {
  color: #1cd45e !important;
}

.icon-googlepm {
  width: 13px;
}

/*********** LAYOUT *********/

td {
  max-width: 100px;
}

.pane-group {
  overflow-x: hidden; /* Resolving for bug when resizing X axis (little white space for scrollbar)*/
  display: block;
}

.window-content {
  overflow: inherit;
}

.sidebar {
  width: 20%;
  float: left;
  max-width: 95%;
  min-width: 5%;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar.hide {
  width: 0;
}

.pane {
  /*height: calc(100% - 21px);**/
  height: 100%;
}

header .toolbar-actions {
  margin: 0;
}

#trackList {
  background-color: white;
}

.message {
  padding: 2px 10px;
  top: 0;
  height: 25px;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 0, 0, 0.46);
}

.retry-button {
  height: 20px;
  float: right;
  width: 45px;
  line-height: 0;
}

footer .toolbar-actions {
  margin-top: 2px;
  margin-bottom: 0px;
}

footer .btn-mini {
  padding: 0px 5px;
}

footer .btn-mini .icon {
  margin-bottom: 0px;
  font-size: 13px;
}

footer svg {
  fill: #737475;
}

footer .active svg {
  fill: white;
}

/** Search Bar && results**/

.searchTab {
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    margin: 10px 5%;
}
.searchTab:before,
.searchTab:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px; width: 50%;
    position: relative;
    vertical-align: middle;
}
.searchTab:before {
    right: 1.5em;
    margin-left: -50%;
}
.searchTab:after {
    left: 1.5em;
    margin-right: -50%;
}

.searchBar {
  position: relative;
  top: -14px;
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 5px;
  vertical-align: middle;
  -webkit-app-region: no-drag;
}

.searchBar .icon-search {
  position: absolute;
  top: 3px;
  left: 10px;
}

.searchBar .form-control {
  width: 150px;
  min-height: inherit;
  height: 24px;
  background-color: #fcfcfc;
  border: 1px solid #BBB;
  padding: 5px 10px 5px 25px; /** Padding for the search icon */
  text-overflow: ellipsis;
}

.searchBar .form-control:focus {
  border-color: #6db3fd;
  box-shadow: inherit;
}


/* ==========================================================================
@NowPlaying
========================================================================== */

#player_thumb {
  border: 1px solid #949599;
  height: 39px; width: 39px;
  margin: 5px 0;
  float: left;
}

#player-controls {
  top: 5px;
  height: 25px;
  position: relative;
  padding: 0 10px;
  overflow: hidden;
  width: 150px;
  display: flex;
  align-items: center;
}

#player-controls i {
  font-size: 20px ;
  color: #565758;
}

#player_play-pause i {
  margin-top: -10px;
  font-size: 35px;
}

#player-controls span {
  top: -12px;
  display: block;
  overflow: hidden;
  text-align: center;
  flex-grow: 1;
}

#player-timecurrent {
  position: absolute;
  text-align: right;
  left: -40px;
  top: -8px;
  width: 33px;
}

#player-duration {
  width: 33px;
  position: absolute;
  right: -41px;
  top: -8px;
}

#player-progress {
  position: relative;
  margin: auto;
  border-radius: 20px;
  top: 1px;
  width: 40%;
  height: 4px;
  box-sizing: content-box;
  background: #CCCCCC;
  left: 20%;
  transform: translateX(-54%);
}

#player-progress-bar-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  padding: 25px 0px 5px 0px;
  margin-top: -10px;
  top: -15px;
  height: 25px;
}

#player-progress:hover #player-progress-bar::before {
  background: rgba(255, 255, 255, 0.5);
}

#player-progress:hover #player-progress-bar::after {
  transform: scale(1);
}

#player-progress #player-progress-bar {
  z-index: -1;
  position: relative;
  cursor: pointer;
  top: -14px;
  display: block;
  width: 100%;
  right: 100%;
  height: 4px;
  border-radius: 10px;
  background: rgb(0, 124, 255);
}

#player-progress #player-buffer-bar {
  z-index: -1;
  display: block;
  position: relative;
  top: -10px;
  width: 100%;
  right: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ABABAB;
  /*transition: transform 0.5s ease-in;*/
}

#player-progress #player-progress-bar::before {
  content: '';
  position: absolute;
  display: block;
  height: 4px; width: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;
  transition: all 0.1s ease-out;
}

#player-progress #player-progress-bar::after {
  content: '';
  position: relative;
  top: -4px; left: 6px;
  display: block;
  float: right;
  height: 12px; width: 12px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 #000;
  transform: scale(0);
  transition: all 0.1s ease-out;
}

#player_favorite .icon {
  font-size: 14px;
}

#player_favorite.active,
#player_favorite.active .icon {
  color: #007CFF;
}


@media screen and (max-width: 400px){
  .sidebar {
    width: 0;
  }

  header {
    padding-bottom: 4px;
  }

  header .toolbar-actions {
    padding: 0;
  }

  #player-progress #player-progress-bar {
    border-radius: none !important;
  }

  #player-progress {
    top: 20px;
    width: 100%;
    background: none;
    left: 0;
    transform: none;
    z-index: 100000;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px){
  #player_favorite {
    display: none !important;
  }

  #player-controls {
    width: 120px;
  }

  .searchBar .form-control {
    width: 110px;
  }
}

@media screen and (max-width: 700px){
  #player-duration, #player-timecurrent {
    display: none;
  }


  .nav-group-item {
    padding: 2px 10px 2px 15px;
  }

  .nav-group-item .icon{
    display: none;
  }
}

@media screen and (max-width: 400px){
 .sidebar {
    display: none;
  }
}

/*** VOLUME *****/

.player_volume_range {
  -webkit-appearance: none;
  width: 100px;
  display: inline-block;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  left: -40px;
  margin-top: -70px;
  border-radius: 5px;
}

.player_volume_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  border-radius: 6px;
  background: #565758;
  cursor: pointer;
  margin-top: -4px;
}

.player_volume_range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #989898;
  border-radius: 3px;
}

.player_volume_range:focus {
  outline: none;
}

/**** SPINNER **************************/


.full_screen {
  width: 100%;
  background-color: white;
  opacity: 0.95;
  z-index: 10000;
}

.full_screen > :first-child {
  text-align: center;
  position: fixed;
  top: 50%; left: 50%;
  margin-left: -37.5%;
  width: 75%;
  font-size: 20px;
}

.spinner {
  height: 40px;
  font-size: 10px !important;
}

.spinner > div {
  background-color: #333;
  height: 100%; width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/** END OF SPINNER */

/***** scrollbar****/
::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f4;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid #f5f5f4;
  min-height: 10px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 100px;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

.blink {
  animation: blink 1s ease-in infinite;
}

/** Resizable handles **/

.vertical-resize {
  position: absolute;
  right: 0px;
  top: 0;
  cursor: col-resize;
  width: 8px;
  height: 100%;
}
