.pane-sm {
    max-width: 40px;
    min-width: inherit;
}

.pane-sm::-webkit-scrollbar { 
    display: none; 
}

.nav-group-item {
    padding: 10px 10px 15px 10px;
}

.icon-soundcloud {
	color: #eb4017 !important;
}

.notclickable:active {
	background-color: initial !important;
}

.icon-spotify {
	color: #1cd45e !important;
}

td {
	max-width: 100px;
}


/*** For ng-cloack, hide angular elements before loading **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


/** Because the AUDIO PLAYER is taking 40px ***/
.pane-group {
	margin-bottom: 40px;
	overflow-x: hidden; /* Resolving for bug when resizing X axis (little white space for scrollbar)*/
}



#settings {
	margin: 10px;
}

.alertMsg {
	display: table;
    height: 90vh;
    width: 100%;
}

.alertMsg > h3 {
	text-align: center;
    white-space: normal;
    padding: 0px 30px;
    vertical-align: middle;
    display: table-cell;
}

.selected {
	color: #fff !important;
  background-color: #116cd6 !important;

}


/*------------------------
    Audio Player - AP
------------------------*/
/* Player and control panel */
.ap {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  user-select: none;
  color: #333;
  background: #f1f1f1;
  border-top: 1px solid #ccc;
  z-index: 9999;
}
.ap-inner {
  max-width: 1440px;
  margin: 0 auto;
}
.ap-panel {
  display: flex;
}
.ap-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.ap--track {
  flex: 1 40%;
  padding: 0 20px;
}

/* Info section */
.ap-info {
  width: 100%;
  position: relative;
  align-self: flex-start;
  padding: 13px 0 0;
}
.ap-title {
  position: relative;
  overflow: hidden;
  padding-right: 80px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ap-time {
  position: absolute;
  top: 5px;
  right: 0;
}
.ap-progress-container {
  padding: 5px 0 10px;
  cursor: pointer;
}
.ap-progress {
  position: relative;
  height: 3px;
  border-radius: 5px;
  background: rgba(0,0,0,.2);
}
.ap-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-radius: 5px 0 0 5px;
  background: rgba(0,0,0,.3);
  z-index: 999;
}
.ap-bar {
  background: #eb4017;
  z-index: 9999;
}
.ap-bar:after {
  position: absolute;
  top: 0;
  right: -5px;
  width: 12px;
  height: 12px;
  margin-top: -4px;
  content: '';
  border-radius: 6px;
  background: #f50;
  opacity: 0;
  transition: opacity .3s ease;
}
.ap-progress-container:hover .ap-bar:after {
  opacity: 1;
}

/* Buttons */
.ap-controls {
  position: relative;
  z-index: 1000;
  display: block;
  height: 45px;
  cursor: pointer;
  transition: background .2s ease;
  text-align: center;
  color: #fff;
  border: 0;
  outline: 0;
  background: none;
}
.ap-controls svg {
  fill: #333;
}
.ap-controls:hover svg {
  fill: #222;
}
.ap-controls:active {
  background: rgba(0,0,0,.1);
}
.ap--playback > .ap-controls,
.ap--settings > .ap-controls {
  flex: 0 25%;
}
.ap--pause,
.playing > .ap--play {
  display: none;
}
.playing > .ap--pause {
  display: inline;
}
.ap-volume-container {
  z-index: 9999;
}
.ap-volume {
  position: absolute;
  right: 0;
  bottom: 50px;
  overflow: hidden;
  width: 100%;
  height: 0;
  visibility: hidden;
  transition: height .2s cubic-bezier(0.17, 0.72, 0.26, 1.23);
  background: #ddd;
  border: 1px solid #ccc;
  border-bottom: 0;
  z-index: 9999;
}
.ap-volume-btn {
  display: block;
  text-align: center;
  width: 100%;
}
.ap-volume-btn > .ap--volume-off,
.muted > .ap--volume-on {
  display: none;
}
.muted > .ap--volume-off {
  display: inline;
}
.ap-volume-container:hover {
  background: #ddd;
}
.ap-volume-container:hover .ap-volume {
  height: 120px;
  visibility: visible;
}
.ap-volume-progress {
  display: block;
  width: 4px;
  height: 100px;
  margin: 10px auto;
  background: rgba(0,0,0,.2);
  position: relative;
  border-radius: 3px;
}
.ap-volume-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f50;
  height: 50%;
  border-radius: 3px;
}

.ap-active {
  background: rgba(0,0,0,.15);
  opacity: 1;
}

@keyframes blink {
  from { opacity: 0; }
  50% { opacity: 1; }
  to { opacity: 0; }
}
.playing > .ap--pause {
  animation: blink 1.5s linear infinite;
}
/* --------------------------- */

@media(max-width:880px) {
  .ap-item > .ap-controls {
    flex: 1;
  }
}
@media(max-width:250px) {
  .ap {
    min-width: 250px;
  }
  .ap, .ap-panel {
    height: auto;
  }
  .ap-panel {
    flex-wrap: wrap;
  }
  .ap--track {
    margin-bottom: 10px;
    padding: 0 20px;
    order: 1;
    flex: 1 1 100%;
  }
  .ap--playback,
  .ap--settings {
    flex: 1 1 50%;
    order: 2;
  }
}
/*--------------------
  PlayList
--------------------*/
.pl-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  overflow: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background: #f1f1f1;
  z-index: 999;
}
.pl-lead {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #333;
}
.pl-list {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 30px 10px;
}
.pl-list > li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.pl-number,
.pl-title,
.pl-remove {
  margin: 0 5px;
  padding: 10px 0;
}
.pl-number {
  flex: 0 10%;
  text-align: center;
}
.pl-playing {
  display: none;
}
.pl-current .pl-count {
  display: none;
}
.pl-current .pl-playing {
  display: block;
}
.pl-current .pl-title {
  font-weight: 700;
}

.pl-title {
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.pl-title:hover {
  text-decoration: underline;
}
.pl-remove {
  opacity: 0;
  margin-right: 0;
  cursor: pointer;
  text-align: center;
  flex: 0 50px;
}
.pl-remove:hover {
  background: #ddd;
}
.pl-list > li:hover .pl-remove {
  opacity: 1;
}

.pl-list svg {
  fill: rgba(0,0,0, .7);
}

.pl-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  color: #ccc;
}

@keyframes eq {
  0% { height: 3px; }
  50% { height: 20px; }
  100% { height: 3px; }
}
.eq {
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
}
.eq-bar {
  width: 4px;
  background: rgba(0,0,0,.7);
}
.eq-bar:nth-child(1) {
  animation: eq .8s ease-in-out infinite 0s;
}
.eq-bar:nth-child(2) {
  animation: eq .8s ease-in-out infinite .2s;
}
.eq-bar:nth-child(3) {
  animation: eq .8s ease-in-out infinite .4s;
}
