
/*** For ng-cloack, hide angular elements before loading **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.alertMsg {
  display: table;
  height: 90vh;
  width: 100%;
}

.alertMsg > h3 {
  text-align: center;
  white-space: normal;
  padding: 0px 30px;
  vertical-align: middle;
  display: table-cell;
}

.selected {
	color: #fff !important;
  background-color: #116cd6 !important;
}

.icon.icon-play.playing {
  color: #007CFF;
  position: absolute;
  margin-right: -4px;
  padding-top: 4px;
  right: 0;
  font-size: 13px;
}

/** Elementary OS Theme **/

.elementary .toolbar{ /* Background for toolbar */
  box-shadow: none;
  background: #DEDEDE !important;
}

.elementary .nav-group-title {
  font-weight: bold;
}

/*********** LAYOUT *********/

td {
  max-width: 100px;
}

.pane-group {
  /** margin-bottom: 53px; /** Because the AUDIO PLAYER is taking 40px ***/
  overflow-x: hidden; /* Resolving for bug when resizing X axis (little white space for scrollbar)*/
  display: block;
}

.sidebar {
  width: 20%; height: 100%;
  float: left;
  max-width: 250px;
  min-width: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.2s;
}

.sidebar.hide {
  width: 0;
}

.pane {
  height: 100%;
}

.footer-nav {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 100%;
  border-top: solid 1px rgba(0, 0, 0, 0.11);
  background-color: #DEDEDE;
}

.footer-nav .icon {
  padding: 0px 0 0 10px;
}

.footer-nav .icon.active {
  color: #007CFF;
}

/*******************************/
/********* Settings ************/
/*******************************/

#settings {
  padding: 10px;
  width: 100%;
  background-color: white;
  opacity: 0.96;
  z-index: 10000;
}

.settingsService {
  border-radius: 5px;
  padding: 26px 24px 20px 24px;
  margin-bottom: 20px;
}

.settingsService label {
  color: #fff;
}

.settingsService .logo {
  width: 40px;
  position: absolute;
  right: 30px;
  margin-top: -5px;
}

.settingsService.soundcloud {
  background-color: #FF5510;
}

.settingsService.GooglePm {
  background-color: #ef6c00;
}

.settingsService.spotify {
  background-color: #75C044;
}

.settingsService.local {
  background-color: #6894B4;
}


/* CHECKBOX STUFF */
.settingsService [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.settingsService [type="checkbox"]:not(:checked) + label,
.settingsService [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 0px;
}

/* checkbox aspect */
.settingsService [type="checkbox"]:not(:checked) + label:before,
.settingsService [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 1px; top: 4px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  /**box-shadow: inset 0 1px 3px rgba(0,0,0,.3)**/
}
/* checked mark aspect */
.settingsService [type="checkbox"]:not(:checked) + label:after,
.settingsService [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 7px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
.settingsService [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.settingsService [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
.settingsService label:hover:before {
  border: 1px solid #4778d9!important;
}

.error {
  color: black;
  font-size: 10px;
}

/** Search Bar && results**/

.searchTab {
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    margin: 10px 5%;
}
.searchTab:before,
.searchTab:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px; width: 50%;
    position: relative;
    vertical-align: middle;
}
.searchTab:before {
    right: 1.5em;
    margin-left: -50%;
}
.searchTab:after {
    left: 1.5em;
    margin-right: -50%;
}

.searchBar {
  position: relative;
  display: inline-block;
  margin-bottom: 0px; margin-right: 5px;
  vertical-align: middle;
  -webkit-app-region: no-drag;
}

.searchBar .icon-search {
  position: absolute;
  top: 3px;
  left: 10px;
}

.searchBar .form-control {
  width: 150px;
  min-height: inherit;
  height: 24px;
  background-color: #fcfcfc;
  border: 1px solid #BBB;
  padding: 5px 10px 5px 25px; /** Padding for the search icon */
}

.searchBar .form-control:focus {
  border-color: #6db3fd;
  box-shadow: inherit;
}


/* ==========================================================================
@NowPlaying
========================================================================== */

#player_thumb {
  border: 1px solid #949599;
  height: 39px; width: 39px;
  margin: 5px 0;
  float: left;
}

#player-controls {
  top: -12px;
  position: absolute;
  padding: 0 10px;
  overflow: hidden;
  width: 150px;
  display: flex;
  align-items: center;
}

#player-controls i {
  font-size: 20px ;
  color: #333;
}

#player_play-pause i {
  margin-top: -10px;
  font-size: 35px;
}

#player-controls span {
  top: -12px;
  display: block;
  overflow: hidden;
  text-align: center;
  flex-grow: 1;
}

#player-timecurrent {
  position: absolute;
  left: -32px;
  top: -7px;
}

#player-duration {
  position: absolute;
  right: -32px;
  top: -7px;
}

#player-progress {
  position: absolute;
  margin: auto;
  border-radius: 20px;
  top: 13px;
  width: 50%;
  height: 5px;
  cursor: pointer;
  box-sizing: content-box;
  background: #CCCCCC;
  left: 50%;
  transform: translateX(-54%);
}

#player-progress:hover #player-progress-bar::before {
  background: rgba(255, 255, 255, 0.5);
}

#player-progress:hover #player-progress-bar::after {
  transform: scale(1);
}

#player-progress #player-progress-bar {
  display: block;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background: rgb(0, 124, 255);
}

#player-progress #player-progress-bar::before {
  content: '';
  position: absolute;
  display: block;
  height: 4px; width: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;
  transition: all 0.1s ease-out;
}

#player-progress #player-progress-bar::after {
  content: '';
  position: relative;
  top: -4px; left: 6px;
  display: block;
  float: right;
  height: 12px; width: 12px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 #000;
  transform: scale(0);
  transition: all 0.1s ease-out;
}

#player_favorite .icon {
  font-size: 14px;
}


#player_favorite.active,
#player_favorite.active .icon {
  color: #007CFF;
}

/**** SPINNER **************************/


.full_screen {
  width: 100%;
  background-color: white;
  opacity: 0.95;
  z-index: 10000;
}

.full_screen > :first-child {
  text-align: center;
  position: fixed;
  top: 50%; left: 50%;
  margin-left: -37.5%;
  width: 75%;
  font-size: 20px;
}

.spinner {
  height: 40px;
  font-size: 10px !important;
}

.spinner > div {
  background-color: #333;
  height: 100%; width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/** END OF SPINNER */

@media screen and (max-width: 400px){
  .hideUnder400  {
    display: none;
  }
}

@media screen and (max-width: 800px){
  .hideUnder800  {
    display: none;
  }
}

