<!DOCTYPE html>
<html ng-app="harmony">
  <head>
    <meta charset="UTF-8">
    <title>Harmony</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-hotkeys/build/hotkeys.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-hotkeys/build/hotkeys.css">
    <link rel="stylesheet" href="css/photon.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body class="elementary">
    <div class="window" ng-controller="MainController" ng-cloak>
    <header class="toolbar toolbar-header">
      <div class="toolbar-actions">

        <!-- now player -->
        <div ng-controller="PlayerController">
          <div id="player-controls">
              <span id="player_prevSong" ng-click="prevTrack()">
                  <i class="icon icon-fast-backward thin"></i>
              </span>
              <span id="player_play-pause" ng-click="playPause()">
                  <i class="icon" ng-class="{'icon-play': !isSongPlaying, 'icon-pause': isSongPlaying}"></i>
              </span>
              <span id="player_nextSong" ng-click="nextTrack()">
                  <i class="icon icon-fast-forward thin"></i>
              </span>
              <span id="player_favorite" ng-class="{'active': playing.favorited}" ng-click="FavPlaying()">
                  <i class="icon icon-heart" ></i>
              </span>
          </div>

          <div id="player-progress">
            <span id="player-timecurrent">0:00</span>
            <span id="player-progress-bar"></span>
            <span id="player-duration">0:00</span>
          </div>

          <audio id="player" controls src="" style="display:none"></audio>
          <!-- now player / end -->
        </div>

        <button class="btn btn-default pull-right" ng-show="activeTab=='settings'" ng-click="saveSettings();getData()">
          <span class="icon icon-check"></span>
          &nbsp;OK
        </button>

        <div class="form-group searchBar pull-right" ng-hide="activeTab=='settings'">
          <span class="icon icon-search"></span>
          <input type="search" ng-change="setSearchActiveTab()" ng-model="search" class="form-control" placeholder="Search for music" id="search" ng-model-options="{debounce: 500}">
        </div>

      </div>
    </header>

      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar" ng-class="{hide: !sidebar}">

            <div class="message" ng-show="offline">
              <span>You're offline</span>
              <button id="retry-button" ng-click="getData()" class="btn btn-default">
                Retry
              </button>
            </div>

            <div class="message" ng-show="loading.discret && loading.state && activeTab!=='settings'">
              <span>Loading...</span>
            </div>

            <nav class="nav-group">
              <div ng-show="settings.soundcloud.active && !offline">
                <h5 class="nav-group-title">SoundCloud</h5>
                <span class="nav-group-item" ng-click="activeTab='soundcloudStream'" ng-class="{'active':activeTab==='soundcloudStream'}">
                  <span class="icon icon-note-beamed"></span>
                  Stream <span ng-show="playing.source == 'soundcloudStream'" class="icon icon-play playing"></span>
                </span>
                <span class="nav-group-item" ng-click="activeTab='soundcloudFavs'" ng-class="{'active':activeTab==='soundcloudFavs'}">
                  <span class="icon icon-heart"></span>
                  Favorites <span ng-show="playing.source == 'soundcloudFavs'" class="icon icon-play playing"></span>
                </span>
                <div ng-repeat="playlist in data.soundcloudPlaylists">
                  <span class="nav-group-item" ng-click="$parent.activeTab='soundcloudPlaylist'+playlist.id" ng-class="{'active':activeTab==='soundcloudPlaylist'+playlist.id}">
                    <span class="icon icon-list"></span>
                    {{playlist.title}} <span ng-show="$parent.playing.source == 'soundcloudPlaylist'+playlist.id" class="icon icon-play playing"></span>
                  </span>
                </div>
              </div>
              <div ng-show="settings.GooglePm.active && !offline">
                <h5 class="nav-group-title">Google Play Music</h5>
                <span class="nav-group-item" ng-click="activeTab='GooglePmAll'" ng-class="{'active':activeTab==='GooglePmAll'}">
                  <span class="icon icon-note-beamed"></span>
                  All my tracks <span ng-show="playing.source == 'GooglePmAll'" class="icon icon-play playing"></span>
                </span>
                <span class="nav-group-item" ng-click="activeTab='GooglePmFavs'" ng-class="{'active':activeTab==='GooglePmFavs'}">
                  <span class="icon icon-heart"></span>
                  Favorites <span ng-show="playing.source == 'GooglePmFavs'" class="icon icon-play playing"></span>
                </span>
                <div ng-repeat="playlist in data.GooglePmPlaylists">
                  <span class="nav-group-item" ng-click="$parent.activeTab='GooglePmPlaylist'+playlist.id" ng-class="{'active':activeTab==='GooglePmPlaylist'+playlist.id}">
                    <span class="icon icon-list"></span>
                    {{playlist.title}} <span ng-show="$parent.playing.source == 'GooglePmPlaylist'+playlist.id" class="icon icon-play playing"></span>
                  </span>
                </div>
              </div>
              <div ng-show="settings.local.active">
                <h5 class="nav-group-title">Local tracks</h5>
                <span class="nav-group-item" ng-click="activeTab='localAll'" ng-class="{'active':activeTab==='localAll'}">
                  <span class="icon icon-note-beamed"></span>
                  All my tracks <span ng-show="playing.source == 'localAll'" class="icon icon-play playing"></span>
                </span>
                <span class="nav-group-item" ng-click="activeTab='localFavs'" ng-class="{'active':activeTab==='localFavs'}">
                  <span class="icon icon-heart"></span>
                  Favorites <span ng-show="playing.source == 'localFavs'" class="icon icon-play playing"></span>
                </span>
              </div>

              <div class="footer-nav">
                <span class="icon icon-cog" ng-click="activeTab='settings'" ng-class="{'active':activeTab==='settings'}"></span>
                <span class="icon icon-shuffle"  ng-click="settings.shuffle=!settings.shuffle ; saveSettings()" ng-class="{'active':settings.shuffle}"></span>
                <span class="icon icon-loop" ng-click="settings.repeat=!settings.repeat ; saveSettings()" ng-class="{'active':settings.repeat}"></span>
                <span ng-show="settings.lastfm.session_key" class="icon icon-lastfm" ng-click="settings.lastfm.active = !settings.lastfm.active ; saveSettings()" ng-class="{'active':settings.lastfm.active}"></span>
              </div>

            </nav>
          </div>

          <div class="pane" ng-if="activeTab=='searchResult'">
            <div ng-show="$parent.settings.soundcloud.active">
              <h2 class="searchTab">From your SoundCloud tracks</h2>
              <table class="table-striped">
                <tr ng-repeat="track in $parent.searchResult | filter:{ service: 'soundcloud'}" ng-mousedown="$parent.$parent.selected = track.id" ng-class="{'selected': $parent.$parent.selected == track.id}" ng-dblclick="playTrack(track)">
                  <td><span ng-show="playing.id == track.id" class="icon icon-play"></span> {{track.title}}</td>
                  <td>{{track.artist}}</td>
                  <td style="width: 30px; padding: 2px 5px">{{track.duration | millSecToDuration}}</td>
                </tr>
              </table>
            </div>
            <div ng-show="$parent.settings.GooglePm.active">
              <h2 class="searchTab">From your Google Play Music tracks</h2>
              <table class="table-striped">
                <tbody>
                  <tr ng-repeat="track in $parent.searchResult | filter:{ service: 'GooglePm' } " ng-mousedown="$parent.$parent.selected = track.id" ng-class="{'selected': $parent.$parent.selected == track.id}" ng-dblclick="playTrack(track)">
                    <td><span ng-show="playing.id == track.id" class="icon icon-play"></span> {{track.title}}</td>
                    <td>{{track.artist}}</td>
                    <td style="width: 30px; padding: 2px 5px">{{track.duration | millSecToDuration}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div ng-show="$parent.settings.local.active">
              <h2 class="searchTab">From your local tracks</h2>
              <table class="table-striped">
                <tbody>
                  <tr ng-repeat="track in $parent.searchResult | filter:{ service: 'local' } " ng-mousedown="$parent.$parent.selected = track.id" ng-class="{'selected': $parent.$parent.selected == track.id}" ng-dblclick="playTrack(track)">
                    <td><span ng-show="playing.id == track.id" class="icon icon-play"></span> {{track.title}}</td>
                    <td>{{track.artist}}</td>
                    <td style="width: 30px; padding: 2px 5px">{{track.duration | millSecToDuration}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="pane" ng-hide="activeTab=='searchResult'">
            <table class="table-striped">
              <thead>
                <tr>
                  <th>Track</th>
                  <th>Artist</th>
                  <th>Duration</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="track in trackList()" ng-mousedown="$parent.selected = track.id" ng-class="{'selected': selected == track.id}" ng-dblclick="playTrack(track)">
                  <td><span ng-show="playing.id == track.id" class="icon icon-play"></span> {{track.title}}</td>
                  <td>{{track.artist}}</td>
                  <td style="width: 30px">{{track.duration | millSecToDuration}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="settings" ng-controller="SettingsController" ng-init="pm=false" ng-show="activeTab=='settings'">

          <div id="service">
            <h1>Your music</h1>

            <a class="button login local" ng-hide="settings.local.active" ng-click="selectFolder()">Listen with <b>local tracks</b></a>
            <a class="button login local" ng-show="settings.local.active" ng-click="selectFolder()">{{settings.local.paths[0]}}</a>

            <a class="button login soundcloud" ng-hide="settings.soundcloud.active" ng-click="loginSoundcloud()">Listen with <b>SoundCloud</b></a>
            <a class="button login soundcloud" ng-show="settings.soundcloud.active" ng-click="settings.soundcloud.active = false">Disconnect</a>

            
            <a class="button login GooglePm" ng-show="settings.GooglePm.user && !pm" ng-click="pm=true">{{settings.GooglePm.user}}</a>
            <a class="button login GooglePm" ng-show="pm || !settings.GooglePm.user" ng-click="pm=!pm">Listen with <b>Play Music</b>
              <br>
              <div ng-show="pm" style="margin-left:-40px;width: 220px">
                <div class="form-group">
                  <input ng-model="settings.GooglePm.user" type="text" class="form-control" placeholder="Email">
                  <br/>
                  <input ng-model="settings.GooglePm.passwd" type="password" class="form-control" placeholder="Password">
                </div>
              </div>
            </a>

            <a class="button login lastfm" ng-hide="settings.lastfm.active" ng-click="loginLastfm()">Scrobble with <b>Last.fm</b></a>
            <a class="button login lastfm" ng-show="settings.lastfm.active" ng-click="settings.lastfm.active = false">Disconnect</a>

          </div>
          <!--<div id="general_settings">
            <h1>Settings</h1>
            Background notifications <input type="checkbox" checked />
            <br/>

          </div>-->

        </div>

        <div class="full_screen" ng-if="!loading.discret && loading.state && activeTab!=='settings'">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>

        <div class="full_screen" ng-if="offline && !settings.local.active">
          <p>You're offline, you must use local files to be able to listen offline.<br>Add local directories from the settings</p>
        </div>
      </div>

    </div>
  </body>
  <script src="js/utils.js"></script>
  <script src="js/app.js"></script>
  <script src="js/mainCtrl.js"></script>
  <script src="js/playerCtrl.js"></script>
  <script src="js/settingsCtrl.js"></script>
</html>
